/* Xmas theme */
.xmas {
    --bg: #FFFCF1;
    --fg: #262625;

    --sidebar-bg: #c93333;
    --sidebar-fg: #c8c9db;
    --sidebar-non-existant: #505254;
    --sidebar-active: #98c0df;
    --sidebar-spacer: #60b059;

    --scrollbar: var(--sidebar-fg);

    --icons: #737480;
    --icons-hover: #262625;

    --links: var(--sidebar-active);

    --inline-code-color: #6e6b5e;

    --theme-popup-bg: #e1e1db;
    --theme-popup-border: var(--sidebar-bg);
    --theme-hover: var(--sidebar-fg);

    --quote-bg: #c0dcaf;
    --quote-border: #9CBC8A;

    --table-border-color: var(--quote-border);
    --table-header-bg: var(--quote-bg);
    --table-alternate-bg: hsl(60, 9%, 84%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #fafafa;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: var(--sidebar-fg);
    --search-mark-bg: var(--sidebar-spacer);
}

/* Some overrides */
.mobile-nav-chapters {
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
    width: 90px;
    border-radius: 5px;
    background-color: var(--sidebar-spacer);
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #DCF5E4;
  color: #6e6b5e;
  padding: 0.5em;
}
